html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

.inview-block {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #148bb4;
  color: azure;
}
